**Examples of Variables:**

In [ ]:
# Trying single variable and single print

message = "Hello Python world!"
print(message)

In [ ]:
# Trying same variable name and multiple print

message = "Hello Python world!"
print(message)

message = "Hello Python Crash Course world!"
print(message)

In [ ]:
# Intentional Error test

message = "Hello Python Coder!"
print(masage)

In [ ]:
# Correction of Error test

masage = "Hello Python Coder!"
print(masage)

**Exercise of Variables:**

In [ ]:
# 2-1. Simple Message Exercise

simple_message1 = "This is the first simple message test"
print(simple_message1)

In [ ]:
# 2-2. Simple Messages Exercise

simple_message2 = "This is the second simple message test"
print(simple_message2)

simple_message3 = "This is the third simple message test"
print(simple_message3)

**Examples of Strings:**

In [ ]:
# Changing Case in a String with Methods
# 1. Making each first character uppercase or title format

name = "data nerd"
print(name.title())

In [ ]:
# 2. Making all characters uppercase and lowercase

name = "data nerd"
print(name.upper())
print(name.lower())

In [ ]:
# Combining or Concatenating Strings
# 1. Only adding the two strings

first_name = "data"
last_name = "nerd"
full_name = first_name + " " + last_name

print(full_name)

In [ ]:
# 2. Combining Title method and Concatenation

first_name = "data"
last_name = "nerd"
full_name = first_name + " " + last_name

print("Hello, " + full_name.title() + "!")

In [ ]:
# 3. Storing Title method and Concatenation in a veriable and print

first_name = "data"
last_name = "nerd"
full_name = first_name + " " + last_name

greeting = "Hello, " + full_name.title() + "!"

print(greeting)

In [ ]:
# Adding Whitespace to Strings with Tabs or Newlines
# 1. Using tab feature in string

print("Introduction")
print("\tThe data science course is interesting.")

In [ ]:
# 2. Using new line feature in string

print("Language:\nJavaScript\nC++\nPython")

In [ ]:
# 3. Combining tab and new line feature

print("Language:\n\tJavaScript\n\tC++\n\tPython")

In [ ]:
# Stripping Whitespace
# 1. Temporary whitespace remove in variable (right space)

favorite_language = "python "
favorite_language
favorite_language.rstrip()
favorite_language

In [ ]:
# 2. Permanently whitespace remove in variable (right space)

favorite_language = "python "
favorite_language = favorite_language.rstrip()
favorite_language

In [ ]:
# 3. Whitespace remove in variable (right & left space)

favorite_language = "   python "
favorite_language.rstrip()
favorite_language.lstrip()
favorite_language.strip()

In [ ]:
# Avoiding Syntex Errors with Strings
# 1. Use of Single and Double Quotes

message = "One of Pyhton's strengths is its diverse community."
print(message)

In [ ]:
# 2. Making mistake while using Single Quotes

message = 'One of Pyhton's strengths is its diverse community.'
print(message)

In [ ]:
# Printing in Python 2
# To initiate the command we need to run python 2

print "Hello Pyhton 2 World!"

**Exercise of Strings:**

In [ ]:
# 2-3. Personal Message: Creating variable and using string

person_name = "Zahidul Haque"

print("Hello, " + person_name + ". Let's learn some Python today!")

In [ ]:
# 2-4. Name Cases: Creating variable and using different cases

person_name2 = "zahidul haque"

print(person_name2.lower())
print(person_name2.upper())
print(person_name2.title())

In [ ]:
# 2-5. Famous Quote: Using different quotes to print Quote

print('Hank Aaron once said, "The only things that feels better than winning is winning when nobody thought you could."')

In [ ]:
# 2-6. Famous Quote 2: Using different quotes to print Quote

famous_person = "Hank Aaron"
famous_message = '"The only things that feels better than winning is winning when nobody thought you could."'

print(famous_person + " once said, " + famous_message)

In [ ]:
# 2-7. Stripping Names: using stripping and indentation

person_name3 = "   \tRabbani \nKhan   "

print(person_name3)
print(person_name3.lstrip())
print(person_name3.rstrip())
print(person_name3.strip())

**Examples of Numbers:**

In [ ]:
# Integers
# 1. Testing direct calculation in python

2+3

In [ ]:
3-2

In [ ]:
2*3

In [ ]:
3/2

In [ ]:
# 2. Using exponents

3**2

In [ ]:
3**3

In [ ]:
10**7

In [ ]:
# 3. use multiple operations

4*3+2

In [ ]:
(3+2)*4

In [ ]:
# Testing Floats
# 1. Simple operations of decimal numbers

0.1+0.1

In [ ]:
0.2+0.3

In [ ]:
2*0.2

In [ ]:
0.2*0.2

In [ ]:
# 3. Some arbitrary errors

0.2+0.1

In [ ]:
3 * 0.1

In [ ]:
# Avoiding Type Errors with the str() Function
# 1. Doing an intentional mistake by combining integer with string

age = 25
message2 = "Happy " + age + "th Birthday!"
print(message2)

In [ ]:
# 2. Correcting the intentional mistake of combining integer with string

age = 25
message2 = "Happy " + str(age) + "th Birthday!"
print(message2)

In [ ]:
# Integers in Python 2
# 1. Trying integer to integer division test (perhaps the bug is fixed in python 3)

5/2

In [ ]:
# 2. Trying integer to integer division if decimal value is not shown

5.0/2

In [ ]:
5/2.0

In [ ]:
5.0/2.0

**Exercise of Numbers:**

In [ ]:
# 2-8. Number Eight:
# Trying all basic operations

print(4+4)
print(36-28)
print(8*1)
print(16/2)

In [ ]:
# 2-9. Favorite Number:
# Trying writing a string by a number stored in variable

favorite_number = 242
print("My village is " + str(favorite_number) + " miles away.")

**Examples of Comments:**

In [ ]:
"""
How Do You Write Comments?
Here I am commenting for comments!
"""

# Say hello to everyone.
print("Hello Python people!")

**Exercise of Comments:**

In [ ]:
"""
2-10. Adding Comments:
Practicing Comments inside python.
"""

# This is the variable of first name

first_name1 = "Data"

# This is the last name

last_name1 = "Nerd"

# Printing full name

print(first_name1 + " " + last_name1)

In [ ]:
# Importing external modules

import this