
# Practice of W3 School (Tuples)

*   Tuples is unchangeable, means we are unable to use value changing modules here
*   Tuples is ordered like list, means each value of it has unique position number
*   It allows duplicate values.

Python Tuples:

In [ ]:
# Printing Tuples is exactly same as list
# Tuples uses first bracket '()' to store data
# It also an example of duplicate value store

favorite_fruits = ("apple", "banana", "orange", "apple", "mango")

print(favorite_fruits)

In [ ]:
# Itentifying length of tulpes is same as list

favorite_fruits = ("apple", "banana", "orange", "apple", "mango")

print(len(favorite_fruits))

In [ ]:
# To become a tuple it require at least one comma ',' separation

favorite_fruit = ("apple",)

print(type(favorite_fruit))

# It will not be a tuple as no comma ','

favorite_fruits = ("apple")

print(type(favorite_fruits))

In [ ]:
# Tuples allows multiple data types: String, numeric, boolean

tuple_string = ("apple", "banana", "orange", "apple", "mango")
tuple_int = (51, 5, 44, 98, 77, 81)
tuple_boolean = (False, False, True, True, False)

print(tuple_string)
print(tuple_int)
print(tuple_boolean)

In [ ]:
# Tuples also allows multiple data types: String, numeric, boolean in one variable

tuple_types = ("banana", 52, "orange", True)

print(tuple_types)

In [ ]:
# Identifying data type of tuple

tuple_types = ("apple", "banana", "cherry")
print(type(tuple_types))

In [ ]:
# To change a data type into tuple

tuple_string = tuple(["apple", "banana", "orange", "apple", "mango"]) # square bracket '[]' is used to determine list

print(tuple_string)

*   List is a collection which is ordered and changeable. Allows duplicate members.
*   Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
*   Set is a collection which is unordered, unchangeable, and unindexed. No duplicate members.
*   Dictionary is a collection which is ordered and changeable. No duplicate members.

Access Tuple Items:

In [ ]:
# Printing tuple by position value

tuple_string = ("apple", "banana", "orange", "apple", "mango")

print(tuple_string[2])

In [ ]:
# Tuple also allows negative indexing

tuple_string = ("apple", "banana", "orange", "apple", "mango")

print(tuple_string[-2])

In [ ]:
# Tuple also allows multiple indexing

tuple_string = ("apple", "banana", "orange", "apple", "mango")

print(tuple_string[1:4])

In [ ]:
# Tuple allows multiple indexing (from beginning)

tuple_string = ("apple", "banana", "orange", "apple", "mango")

print(tuple_string[:4])

In [ ]:
# Tuple allows multiple indexing (to ending)

tuple_string = ("apple", "banana", "orange", "apple", "mango")

print(tuple_string[3:])

In [ ]:
# Tuple also allows multiple indexing by negative

tuple_string = ("apple", "banana", "orange", "apple", "mango")

print(tuple_string[-4:-2])

In [ ]:
# Searching a value in tuples

tuple_string = ("apple", "banana", "orange", "apple", "mango")
if "orange" in tuple_string:
  print("Orange is my favorite fruit")

Update Tuples:

In [ ]:
# To update a tuple it requires to convert it as list first

tuple_string = ("apple", "banana", "orange", "apple", "mango")
fruit_list = list(tuple_string)
fruit_list[3] = "kiwi"
tuple_string = tuple(fruit_list)

print(tuple_string)

In [ ]:
# Adding value in tuple but required conversion

tuple_string = ("apple", "banana", "orange", "apple", "mango")
fruit_list = list(tuple_string)
fruit_list.append("kiwi")
tuple_string = tuple(fruit_list)

print(tuple_string)

In [ ]:
# Adding value in tuple but not required conversion

tuple_string = ("apple", "banana", "orange", "apple", "mango")
fruit_list = ("kiwi",)
tuple_string += fruit_list

print(tuple_string)

In [ ]:
# Removing value in tuple but required conversion

tuple_string = ("apple", "banana", "orange", "apple", "mango")
fruit_list = list(tuple_string)
fruit_list.remove("banana")
tuple_string = tuple(fruit_list)

print(tuple_string)

In [ ]:
# Removing all veriable in tuple

tuple_string = ("apple", "banana", "orange", "apple", "mango")
del tuple_string

print(tuple_string) # As the variable will be deleted, no variable will be matched and will show error

Unpack Tuples:

In [ ]:
# Tuples allows exact value backed variables
# In this case we need exact same number of variables as tuple value
# Here all value need to be unique as variable, otherwise the last value will be displayed

tuple_values = ("apple", "banana", "orange", "kiwi", "mango")

(red, yellow, orange, brown, green) = tuple_values   # Variables

print(red)
print(yellow)
print(orange)
print(brown)
print(green)

In [ ]:
# In this case we are declaring last remaining will be in the last variable

tuple_values = ("apple", "banana", "orange", "kiwi", "mango")

(red, yellow, *orange) = tuple_values   # Variables

print(red)
print(yellow)
print(orange)

In [ ]:
# In this case we are declaring middle all will be for middle variable

tuple_values = ("apple", "banana", "orange", "kiwi", "mango")

(red, *yellow, orange) = tuple_values   # Variables

print(red)
print(yellow)
print(orange)

In [ ]:
# Here we are declaring first all will be for first variable

tuple_values = ("apple", "banana", "orange", "kiwi", "mango")

(*red, yellow, orange) = tuple_values   # Variables

print(red)
print(yellow)
print(orange)

Loop Tuples:

In [ ]:
# Using loops into tuples

tuple_values = ("apple", "banana", "orange", "kiwi", "mango")

for x in tuple_values:
  print(x)

In [ ]:
# Using loop into tuples by indexing number

tuple_values = ("apple", "banana", "orange", "kiwi", "mango")

for i in range(len(tuple_values)):
  print(tuple_values[i])

In [ ]:
# Using while loop into tuples by indexing number

tuple_values = ("apple", "banana", "orange", "kiwi", "mango")
i = 0
while i < len(tuple_values):
  print(tuple_values[i])
  i = i+1   # it will update the value of i after each loop

Join Tuples:

In [ ]:
# Add one tuple to another

alphabets = ("a", "b", "c")
numbers = (1, 2, 3)

pass_source = alphabets + numbers
print(pass_source)

In [ ]:
# Multiply the tuple

alphabets = ("a", "b", "c")
numbers = (1, 2, 3)

mult_alphabets = alphabets * 2
mult_numbers = numbers * 3
print(mult_alphabets)
print(mult_numbers)

Tuple Methods:

In [ ]:
# Using the other methods of tuple from W3 school

alphabets = ("a", "bgf", "a", "l", "a", "c")

print(alphabets.count("a"))
print(alphabets.index("a"))   # Index only provide the position of first value

Tuple Exercises:

In [ ]:
# Printing the first item from the tuple

tuple_values = ("apple", "banana", "orange", "kiwi", "mango")

print(tuple_values[0])

# Practice of W3 School (Sets)


*   Sets are unchangeable, means we are unable to use value changing modules here.
*   Sets are unordered, means position of the values are not defined like lists and tuples.
*   Sets do not allow duplicate value.

Python Sets:

In [ ]:
# Creating a Set with curly parentheses

fruits_set = {"mango", "apple", "banana", "kiwi", "cherry"}
print(fruits_set)

In [ ]:
# Checking duplicate value print

fruits_set = {"mango", "kiwi", "apple", "banana", "kiwi", "cherry"}
print(fruits_set)

In [ ]:
# Checking duplicate value where True and 1 is considered as same

fruits_set = {"mango", True, "apple", "banana", "kiwi", "cherry", 1 ,52}
print(fruits_set)

In [ ]:
# Getting the number of values in set

fruits_set = {"mango", "apple", "banana", "kiwi", "cherry"}
print(len(fruits_set))

In [ ]:
# Sets also the string, number & boolean data type

set_string = {"mango", "apple", "banana", "kiwi", "cherry"}
set_number = {1, 2, 51, 18, 26}
set_boolean = {True, True, False, True, True}

print(set_string)
print(set_number)
print(set_boolean)

In [ ]:
# All data type can include in one set

all_sets = {"banana", True, 45, "54"}
print(all_sets)

In [ ]:
# Type can be determined in set by type()

all_sets = {"banana", True, 45, "54"}
print(type(all_sets))

In [ ]:
# Any data type can be converted into set by set()

# Type can be determined in set by type()

all_sets = set(["banana", True, 45, "54"])
print(all_sets)
print(type(all_sets))

Access Set Items:

In [ ]:
# As there is no positional value set can not be accessed by position
# To print loop can be used 

fruits_set = {"mango", "apple", "banana", "kiwi", "cherry"}

for x in fruits_set:
  print(x)

In [ ]:
# It can also be checked by calling it by name

fruits_set = {"mango", "apple", "banana", "kiwi", "cherry"}

print("kiwi" in fruits_set)

Add Set Items:

In [ ]:
# To add some value add method can be used

fruits_set = {"mango", "apple", "banana", "kiwi", "cherry"}

fruits_set.add("orange")
print(fruits_set)

In [ ]:
# To add another set update method can be used

fruits_set = {"mango", "apple", "banana", "kiwi", "cherry"}
flower_set = {"rose", "tulip"}

fruits_set.update(flower_set)
print(fruits_set)

In [ ]:
# To add another set by update method other data type can be used

fruits_set = {"mango", "apple", "banana", "kiwi", "cherry"}
flower_set = ["rose", "tulip"]

fruits_set.update(flower_set)
print(fruits_set)

Remove Set Items:

In [ ]:
# Removing items from set, using remove()

fruits_set = {"mango", "apple", "banana", "kiwi", "cherry"}
fruits_set.remove("kiwi")

print(fruits_set)

In [ ]:
# If removeable item does not exist in set it will show an error

fruits_set = {"mango", "apple", "banana", "cherry"}
fruits_set.remove("kiwi")

print(fruits_set)

In [ ]:
# To exclude the error massage another module is used, call discard()

fruits_set = {"mango", "apple", "banana", "kiwi", "cherry"}
fruits_set.discard("kiwi")
print(fruits_set)

fruits_set.discard("kiwi")
print(fruits_set)

In [ ]:
# To remove random value from set, use pop()

fruits_set = {"mango", "apple", "banana", "kiwi", "cherry"}
fruits_set.pop()
print(fruits_set)

In [ ]:
# To remove all values from set, use clear()

fruits_set = {"mango", "apple", "banana", "kiwi", "cherry"}
fruits_set.clear()
print(fruits_set)

In [ ]:
# As before, del key delete entire set and variable

fruits_set = {"mango", "apple", "banana", "kiwi", "cherry"}
del fruits_set
print(fruits_set)

Loop Sets:

In [ ]:
# Using loop in set

fruits_set = {"mango", "apple", "banana", "kiwi", "cherry"}
for x in fruits_set:
  print(x)

Join Sets:

In [ ]:
# Like the mathmetical set, union is used to combine sets
# Ignores duplicate value

fruits_set = {"mango", "apple", "banana", "kiwi", "cherry"}
flower_set = {"rose", "tulip", "cherry"}

all_set = fruits_set.union(flower_set) # It donot change the data of first set, hence another variable required
print(all_set)

In [ ]:
# Unlike the union, update add data into first set
# Ignores duplicate value

fruits_set = {"mango", "apple", "banana", "kiwi", "cherry"}
flower_set = {"rose", "tulip", "cherry"}

fruits_set.update(flower_set)
print(fruits_set)

In [ ]:
# Like the mathmetical set, intersection is used to find common values in sets

fruits_set = {"mango", "apple", "banana", "kiwi", "cherry"}
flower_set = {"rose", "tulip", "cherry"}

all_set = fruits_set.intersection(flower_set)
print(all_set)

In [ ]:
# Intersection + update is used to change the first variables value
# It does not require to input new variable

fruits_set = {"mango", "apple", "banana", "kiwi", "cherry"}
flower_set = {"rose", "tulip", "cherry"}

fruits_set.intersection_update(flower_set)
print(fruits_set)

In [ ]:
# Like the mathmetical set, symmetric_difference() is used to find non common values in sets

fruits_set = {"mango", "apple", "banana", "kiwi", "cherry"}
flower_set = {"rose", "tulip", "cherry"}

all_set = fruits_set.symmetric_difference(flower_set)
print(all_set)

In [ ]:
# symmetric_difference + update is used to change the first variables value
# It does not require to input new variable

fruits_set = {"mango", "apple", "banana", "kiwi", "cherry"}
flower_set = {"rose", "tulip", "cherry"}

fruits_set.symmetric_difference_update(flower_set)
print(fruits_set)

In [ ]:
# Boolean True value is considered as 1

fruits_set = {"mango", "apple", "banana", "kiwi", "cherry", True}
flower_set = {"rose", "tulip", "cherry", 1, 4}

all_set = fruits_set.symmetric_difference(flower_set)
print(all_set)

Set Methods:

In [ ]:
# Copy() method copy a set into a variable

fruits_set = {"mango", "apple", "banana", "kiwi", "cherry", True}
flower_set = fruits_set.copy()

print(flower_set)

In [ ]:
# Difference module is similer as symmetric_difference

fruits_set = {"mango", "apple", "banana", "kiwi", "cherry"}
flower_set = {"rose", "tulip", "cherry"}

all_set = fruits_set.difference(flower_set)
print(all_set)

In [ ]:
# isdisjoint module tests that if there is a common value between two sets or not
# If there is a common value it tells False as they are not mutually exclusive

fruits_set = {"mango", "apple", "banana", "kiwi", "cherry"}
flower_set = {"rose", "tulip", "cherry"}

all_set1 = fruits_set.isdisjoint(flower_set)
print(all_set1)

fruits_set.discard("cherry")
all_set2 = fruits_set.isdisjoint(flower_set)
print(all_set2)

In [ ]:
# issubset tests that if the marked set is a subset of the set inside the bracket

fruits_set = {"mango", "apple", "banana", "kiwi", "cherry"}
red_set = {"apple", "mango", "cherry"}

all_set = red_set.issubset(fruits_set)
print(all_set)

In [ ]:
# issuperset tests that if the marked set is a superset (contains another set) of the set inside the bracket

fruits_set = {"mango", "apple", "banana", "kiwi", "cherry"}
red_set = {"apple", "mango", "cherry"}

all_set = fruits_set.issuperset(red_set)
print(all_set)

Set Exercises:

In [ ]:
# Trying the exercise

fruits = {"apple", "banana", "cherry"}
if "apple" in fruits:
  print("Yes, apple is a fruit!")